.terroir {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.terroir * {
  box-sizing: border-box;
}

.terroir__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  padding: 10px;
}