.terroir {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 30px;
}

.terroir * {
  box-sizing: border-box;
}

.terroir__head {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid rgb(224, 224, 224);
  display: flex;
  justify-content: space-between;
}

.terroir__head__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54);
}