.terroir {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.terroir * {
  box-sizing: border-box;
}

.terroir__head {
  display: flex;
  justify-content: space-between;
  background-color: rgb(232, 232, 232);
  /* border-bottom: 1px solid rgb(224, 224, 224); */
  margin: 0;
  padding: 5px 10px 5px 20px;
}

.terroir__head__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54);
}

.terroir__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  padding: 10px;
}